.price-main1{
    width:100%;
    height: auto;
    padding: 20px 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.price-main2{
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.price-left{
    width:34%;
    height: auto;;
}
.price-right{
    width:65%;
    height: auto;
}
.price-right1{
    display:flex;
    width: 100%;
    border-bottom:1px solid gray;
    justify-content:space-between;
    align-items:center;
    padding-left:10px;
    margin-bottom:10px;
    padding-bottom: 10px;
    font-weight: 600;
}
.price-right2{
    padding:10px 10px;
    height: auto;
    width: 100%;
}
@media only screen and (max-width: 749px) and (min-width: 390px){
    .price-main2{
        display: block;
    }
    .price-left{
        width:90%;
        margin: auto;
    }
    .price-right{
        width:90%;
        margin: auto;
    }
}