.price-main1{
    width:100%;
    height: auto;
    padding: 20px 20px;
    margin-bottom: 70px;
    padding-bottom: 40px;
}
.price-main2{
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}
.price-left{
    width:33%;
    height: 200px;
}
.price-right{
    width:65%;
    height: auto;
}
.price-right1{
    display:flex;
    border-bottom:1px solid gray;
    justify-content:space-between;
    align-items:center;
    padding-left:10px;
    margin-bottom:10px;
    padding-bottom: 10px;
    font-weight: 600;
}
.price-right2{
    padding:10px 10px;
    height: auto;
    width: 100%;
}